APP_ENV=development
ALLOWED_ORIGINS=["http://localhost:3000"]
FIREBASE_SERVICE_ACCOUNT_PATH=firebase_file.json
FIREBASE_API_KEY=your_firebase_api_key_from_console
ENCRYPTION_KEY=generate_with_fernet_generate_key
JWT_SECRET=generate_random_long_string
